<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inteligência Artificial</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<style>
    .circulo-vertice {
        display: flex;
        align-items: center; 
        width: 200px;
        height: 200px;
        border:3px solid #2d075e; 
        border-radius: 60%; 
        background-color: #2d075e;
    }

    .partida {
        border:10px solid #004a4d; 
        background-color: #007d81;

    }

    .destino {
        border:10px solid #d12822; 
        background-color: #eb5c5c;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size: 14px;">Atividade 02</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding: 30px; padding-top: 2rem;">
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form x-data="handler()" method='post' action="/enviar">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Crie os vértices para o grafo
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button @click="adicionarVertice" id="addCoautor" type="button" class="btn btn-primary btn-padding border mb-2"
                        style="text-decoration: none; border-radius: 14px; background-color: #24a143; z-index: 1;"
                        title="Clique aqui para adicionar um vértice">
                        <i class="fa fa-plus text-white"></i>
                        <br>Novo vértice
                    </button>
                </div>
            </div>
            
            <div class="row">
                <template x-for="(vertice, index) in vertices" :key="index">
                    <div class="col-md-3 mt-2 text-center">
                        <div class="circulo-vertice"> 
                            <div class="row">
                                <div class="col-md-12">
                                    <label :for="'nome' + index" class="text-white font-weight-bold">Nome do vértice:</label>
                                    <div class="row" style="padding-left: 75px;">
                                        <input type="text" style="margin-bottom:10px; width: 50%; text-align: center;"
                                        class="form-control"
                                        name="nomeVertice[]" placeholder="v1"
                                        :id="'nome' + index"
                                        x-model="vertice.nome"
                                        required>
                                    </div>
                                    <div class="row" style="padding-left: 95px;">
                                        <template x-if="index > 1">
                                            <div class="col-md-4 col-lg-3 justify-content-center d-flex align-items-end btn-group pb-1">
                                                <button type="button" @click="removerVertice(index)" style="background-color: #d30909;" class="btn"><i class="fa fa-times text-white"></i></button>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <h3>
                        Crie as arestas paras os vértices do grafo
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button @click="adicionarAresta" id="addAresta" type="button" class="btn btn-primary btn-padding border"
                        style="text-decoration: none; border-radius: 14px; background-color: #24a143; z-index: 1;"
                        title="Clique aqui para adicionar um vértice">
                        <i class="fa fa-plus text-white"></i>
                        <br>Nova aresta
                    </button>
                </div>
            </div>
            
            <div class="row">
                <template x-for="(aresta, index) in arestas" :key="index">
                    <div class="col-md-3 mt-2 text-center">
                        <div class="card bg-light border-none shadow rounded">
                            <div class="card-body">
                                <div class="flex align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-md-12 font-weight-bold text-center">
                                            Nova aresta
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label :for="'u_vertice' + index">vértice <span class="font-weight-bold">"u"</span>:</label>
                                            <input type="text" style="margin-bottom:10px;"
                                            class="form-control text-center"
                                            name="uVertice[]"
                                            :id="'u_vertice' + index"
                                            x-model="aresta.u"
                                            required>
                                        </div>
                                        <div class="col-md-6">
                                            <label :for="'v_vertice' + index">vértice <span class="font-weight-bold">"v"</span>:</label>
                                            <input type="text" style="margin-bottom:10px;"
                                            class="form-control text-center"
                                            name="vVertice[]"
                                            :id="'v_vertice' + index"
                                            x-model="aresta.v"
                                            required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <template x-if="index > 0">
                                                <div class="justify-content-center  pb-1">
                                                    <button type="button" @click="removerAresta(index)" style="background-color: #d30909;" class="btn"><i class="fa fa-times text-white"></i></button>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </template>
            </div>

            <div class="row justify-content-between mt-4">
                <div class="col-md-6">
                    <h3 class="text-center">
                        Informe o vértice de partida
                    </h3>
                    <div class="mt-2 text-center d-flex justify-content-center">
                        <div class="circulo-vertice partida"> 
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="partida" class="text-white font-weight-bold">Nome do vértice:</label>
                                    <div class="row justify-content-center">
                                        <input type="text"
                                            id="partida"
                                            class="form-control w-25 text-center"
                                            name="partidaVertice"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">
                        Informe o vértice de chegada
                    </h3>
                    <div class="mt-2 text-center d-flex justify-content-center">
                        <div class="circulo-vertice destino"> 
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="destino" class="text-white font-weight-bold">Nome do vértice:</label>
                                    <div class="row justify-content-center">
                                        <input type="text"
                                            class="form-control w-25 text-center"
                                            name="destinoVertice"
                                            id="destino"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-12">
                    <button class="btn btn-primary w-100" type="submit">
                        Gerar caminho
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script>
        function handler() {
            inicial = [{
                nome: '',
            }, {
                nome: '',
            }];
            arestasInicial = [{
                u: '',
                v: '',
                peso: 0
            }];

            return {
                vertices: inicial,
                arestas: arestasInicial,
                adicionarVertice() {
                    this.vertices.push({
                        nome: '',
                    });
                },
                removerVertice(index) {
                    this.vertices.splice(index, 1);
                },
                adicionarAresta() {
                    this.arestas.push({
                        u: '',
                        v: '',
                        peso: 0
                    });
                },
                removerAresta(index) {
                    this.arestas.splice(index, 1);
                },
            }
        }
    </script>
</body>
</html>